
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cormorant+Garamond:ital,wght@1,600&display=swap');

/* .container{
  background:linear-gradient(70deg,blue,pink)
} */

/* Text-shadow */
h1{
  /* text-shadow: 2px 2px rgb(113, 71, 152); */
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h2{
  /* text-shadow: 2px 2px rgb(113, 71, 152); */
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h4{
  text-shadow: 2px 2px #8c9fc4;
}

ol{
  text-shadow: 2px 2px #8c9fc4;
}
p{
  text-shadow: 2px 2px #8c9fc4;
}
a{
  text-shadow: 1px 1px #8c9fc4;
}

*{
  font-family: 'Bree Serif', serif;
}
.height2{
  height:400px;
} 
.height1{
  height:450px;
}
.height3{
  height:450px;
} 

/* footer  */
.footer{
  /* background: aqua; */
  color: rgb(219, 9, 9);
  background:linear-gradient(70deg,blue,pink);
}

/* Homepage */
.home1{
  background: rgb(226 230 234);
  border-radius: 1rem;
  padding-left: 73px;
  padding-right: 70px;
  /* box-shadow: -3px -25px 33px 36px grey; */
  box-shadow:         inset 0 0 10px #000000;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 83px #000000;
}

.home2{
  border-radius: 1rem;
  background: rgba(247, 247, 38, 0.929);
  padding-left: 73px;
  padding-right: 70px;
  /* box-shadow: 1px 16px 33px 29px rgb(222 236 38); */
  box-shadow:         inset 0 0 10px  rgb(240, 186, 79);
  -moz-box-shadow:    inset 0 0 10px  rgb(201, 209, 95);
   -webkit-box-shadow: inset 0 0 83px rgb(209, 175, 95);
}

/* Genu Valgum */
.gvalgum1{
  background: rgb(226 230 234);
  border-radius: 1rem;
  padding-left: 73px;
  padding-right: 70px;
  /* box-shadow: -3px -25px 33px 36px rgb(117, 156, 170); */
  box-shadow:         inset 0 0 10px #000000;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 83px #000000;
}

/* Genu Varum */
.gvarum1{
  background: rgb(226 230 234);
  border-radius: 1rem;
  padding-left: 73px;
  padding-right: 70px;
  /* box-shadow: -3px -25px 33px 36px rgb(117, 156, 170); */
  box-shadow:         inset 0 0 10px #000000;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 83px #000000;
}

/* Videos  */
.videos{
  background: rgb(188, 192, 196);
  border-radius: 1rem;

}

/* Treatment Valgum */
.valgt1{
  background: rgb(226 230 234);
  border-radius: 1rem;
  padding-left: 73px;
  padding-right: 70px;
  box-shadow:         inset 0 0 10px #000000;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 83px #000000;
}

/* Treatment varum */
.vart1{
  background: rgb(226 230 234);
  border-radius: 1rem;
  padding-left: 73px;
  padding-right: 70px;
  box-shadow:         inset 0 0 10px #000000;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 83px #000000;
}

/* UserProfile1 */
.userP1{
  border-radius: 1rem;
  background: rgb(226 230 234);
  box-shadow:         inset 0 0 10px #000000;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 83px #000000;
  /* background:linear-gradient(70deg,blue,pink); */
}

/* UserProfile2 */
.userP2{
  border-radius: 1rem;
  background: rgb(226 230 234);
  box-shadow:         inset 0 0 10px #000000;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 83px #000000;
}

/* Hospitals */
.hosp1{
  border-radius: 1rem;
  background: rgb(226 230 234);
  box-shadow:         inset 0 0 10px #000000;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 83px #000000;
}

/* Detect Form  */
.detectform{
  background: rgb(226 230 234);
  border-radius: 1rem;
  box-shadow:         inset 0 0 10px #000000;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 83px #000000;
}

/* Page1 */
.page1a{
  background:linear-gradient(70deg,#304352,#d7d2cc);
  border-radius: 1rem;

}

/* Page2 */
.page2a{
  background:linear-gradient(70deg,#304352,#d7d2cc);
  border-radius: 1rem;

}

/* Page3 */
.page3a{
  background:linear-gradient(70deg,#304352,#d7d2cc);
  border-radius: 1rem;
}