
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cormorant+Garamond:ital,wght@1,600&display=swap');

*{
  font-family: 'Bree Serif', serif;
}
/* .height2{
  height:450px;
}  */
.height1{
  height:450px;
}
.height3{
  height:470px;
} 
