
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cormorant+Garamond:ital,wght@1,600&display=swap');

*{
  font-family: 'Bree Serif', serif;
}
.height2{
  height:400px;
} 
.height1{
  height:450px;
}
.height3{
  height:450px;
} 

/* footer  */
.footer{
  background: aqua;
  color: rgb(219, 9, 9);
  /* border-radius: 2rem; */
}