{% extends 'base.html' %}

{% block title %} Change Password Page{% endblock title %}

{% block body %}

<div
      style="height: 100vh"
      class="
        container
        d-flex
        flex-column
        justify-content-center
        align-items-center
      "
    >
      <h4 class="text-center">Change Password</h4>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <div class="mb-3 form-check"></div>
        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
</div>

{% endblock body %}