{% extends 'base.html' %}


{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


<div
      style="height: 100vh"
      class="
        container
        d-flex
        flex-column
        justify-content-center
        align-items-center changepass1
      "
    >
      <h1 class="text-center text-primary">Change Password</h1>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
          <img src="https://img.icons8.com/ios-filled/20/000000/lock.png"/>
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <div class="mb-3 form-check"></div>
        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
</div>


{% endblock body %}