    {% extends 'base.html' %}


    {% load static %}
    
    {% block body %}
    

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="stylesheet" media="screen and (max-width: 412px" href="{% static 'phone.css' %}">

    
    
<br> <br> <br> <br>
    <script>
        $(document).ready(function(){

       
        

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for item in chartProfile1  %}'{{item.date}}',{% endfor %}],
                
                datasets: [{
                    label: 'Left knee Angle',
                    data: [{% for item in chartProfile1 %}{{item.ImgLeftAngle}},{% endfor %}],
                    backgroundColor: 'transparent',
                    borderColor: 'red',
                    borderWidth: 4
                },
                {
                    label: 'Right knee Angle',
                    data: [{% for item in chartProfile1 %}{{item.ImgRightAngle}},{% endfor %}],
                    backgroundColor: 'transparent',
                    borderColor: 'green',
                    borderWidth: 4
                }],
                
                },

            
            options: {
                elements:{
                    line:{
                        tension:0
                    }
                },
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: true,
                    text: ' knee Angle1'
                  }
                }
              },
        });

        
    });

    
        </script>
        
    <div class="Chart chart1">
        <canvas id="myChart" width="400" height="180"></canvas>
    </div>
{% endblock body%}