{% extends 'base.html' %}

{% block title %}Live Detection {% endblock title %}
{% load static%}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


<h1 style="text-align: center;">Live Body DETECTION Using Webcam </h1>
<div style="justify-content: center; display: flex; margin-top: 30px;"><img src="{% url 'video_feed' %}">
</div>
<div class="container detectform">
    <h2>For Detection fill the details </h2>
    <form method="POST" action="/Detection_Live">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label" for="username">Username: </label>
            <input class="form-control" type="text" id="name" name="name" placeholder="Enter username" required />
        </div>

        <div class="mb-3">
            <label class="form-label" for="Langle">Left Leg angle: </label>
            <input class="form-control" type="number" id="Langle" name="Langle" placeholder="Enter left leg angle" required />
        </div>

        <div class="mb-3">
            <label class="form-label" for="Rangle">Right Leg angle: </label>
            <input class="form-control" type="number" id="Rangle" name="Rangle" placeholder="Enter Right leg angle" required />
        </div>
        <div>
            <b> Enter Date of Birth: <input type=date id = "DOB"> </b>  
            <span id = "message" style="color:red"> </span> <br><br>  
        </div>  
  
        {% comment %} <input type="submit" name="submit" onclick = "ageCalculator()" value="Predict" id="btn1"/> {% endcomment %}
        <input type="button" name="Predict" onclick = "ageCalculator()" value="Predict" id="btn1" class="btn btn-primary">
        

        <span id="LiveRes1" name="LiveRes1"></span>
        <span id="LiveRes2" name="LiveRes2"></span>

        <br>
        <br>
        <button type="Submit" name="submit" id="btn1" class="btn btn-primary">Submit</button> 

        <button type="reset"  class="btn btn-danger">Reset</button>

    </form>
</div>

<script>
    var btn1 = document.getElementById("btn1");
    btn1.addEventListener("click",e=>{
        e.preventDefault();
        var l = Number(document.getElementById("Langle").value);
        var r = Number(document.getElementById("Rangle").value);

        if((l && r) < 175)
        {
            document.getElementById("LiveRes1").innerHTML = "Knock Knee is Present And"
        }
        else if((l && r) > 190)
        {
            document.getElementById("LiveRes1").innerHTML = "Bowleg is Present And"
        }
        else
        {
            document.getElementById("LiveRes1").innerHTML = "No Deformity is Present"

        }
       
    })
    function ageCalculator() { 
        var l = Number(document.getElementById("Langle").value);
        var r = Number(document.getElementById("Rangle").value); 
        var userinput = document.getElementById("DOB").value;  
        var dob = new Date(userinput);  
        if(userinput==null || userinput=='') {  
          document.getElementById("message").innerHTML = "**Choose a date please!";    
          return false;   
        } else {  
          
        //calculate month difference from current date in time  
        var month_diff = Date.now() - dob.getTime();  
          
        //convert the calculated difference in date format  
        var age_dt = new Date(month_diff);   
          
        //extract year from date      
        var year = age_dt.getUTCFullYear();  
          
        //now calculate the age of the user  
        var age = Math.abs(year - 1970);  
          
        //display the calculated age 
        if(((age <= 2) && ((l && r)> 190)))
        {
            return document.getElementById("LiveRes2").innerHTML = " Its Normal in this age and will be fix by itself"
        }
        else if (((age <= 2) && ((l && r)< 175)))
        {
            return document.getElementById("LiveRes2").innerHTML = "Its Not Normal In this age"
        }
        else if (((2 < age) && (7 >= age)  && ((l && r)> 190)))
        {
            return document.getElementById("LiveRes2").innerHTML = "Its Not Normal In this age, You need to consult a doctor"
        }
        else if (((2 < age) && (7 >= age)  && ((l && r)< 175)))
        {
            return document.getElementById("LiveRes2").innerHTML = "Its Normal in this age and will be fix by itself" 
        }
        else if (((7 < age) && (13 >= age) && ((l && r)> 190)))
        {
            return document.getElementById("LiveRes2").innerHTML = "Its Not Normal In this age, You need to consult a doctor and can be cured by doing some exercise or by minor surgey"
        }
        else if (((7 < age) && (13 >= age) && ((l && r)< 175)))
        {
        return document.getElementById("LiveRes2").innerHTML = "Its Not Normal In this age, You need to consult a doctor and can be cured by doing some exercise or by minor surgey"  
        }
        else if (((13 < age) && (18 >= age) && ((l && r)> 190)))
        {
            return document.getElementById("LiveRes2").innerHTML = "Its Not Normal In this age, You need to consult a doctor"  
        }
        else if (((13 < age) && (18 >= age) && ((l && r)< 175)))
        {
            return document.getElementById("LiveRes2").innerHTML = "Its Not Normal In this age, You need to consult a doctor"  
        }
                
        }  
    }  
</script>

{% endblock body %}