{% extends 'base.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block title %} Photo Detection {% endblock title %}
{% load static%}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


<h1 style="text-align: center;">Body DETECTION By Taking Photo Using Webcam</h1>
<div id="img">
    <!-- <div class="imgdetect" style="justify-content: center; display: flex; margin-top: 30px;">
    <img src="{% url 'image_feed' %}">
</div> -->
</div>

<div id="spinner">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<div class="container detectform">
    <h2>For Detection fill the details </h2>
    <form action="/Detection_img" method="POST">
        {% csrf_token %}

        {% for message in messages %}
        <div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
          <strong>Message </strong> {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        <div class="mb-3">
            <label class="form-label" for="name">Username: </label>
            <input class="form-control" type="text" id="name" name="name" placeholder="Enter username" required />
        </div>

        <div class="mb-3">
            <label class="form-label" for="Langle">Left Leg angle: </label>
            <input class="form-control" type="number" id="Langle" name="Langle" placeholder="Enter left leg angle" required />
        </div>

        <div class="mb-3">
            <label class="form-label" for="Rangle">Right Leg angle: </label>
            <input class="form-control" type="number" id="Rangle" name="Rangle" placeholder="Enter Right leg angle" required />
        </div>
        <div>
            <b> Enter Date of Birth: <input type="date" id = "DOB" required/> </b>  
            <span id = "message" style="color:red"> </span> <br><br>  
        </div>  
        
        <input type="button" name="Predict" onclick = "ageCalculator()" value="Predict" id="btn1" class="btn btn-primary">
        <label name="imgRes1" id="imgRes1"></label>

        <label name="imgRes2" id="imgRes2"></label>

        <!-- <label name="RESULT" id="RESULT"></label> -->
        <br>
        <br>
        <button type="Submit" name="submit" id="btn1" class="btn btn-primary">Submit</button> 
        <br> <br> 
        <!-- <button type="submit">Submit</button> -->

        <button type="reset"  class="btn btn-danger">Reset</button>
    </form>
</div>

<script>

    const spinner = document.getElementById('spinner');
    const imgdet = document.getElementById('img');

        $.ajax({
            type: 'GET',
            url:'/Detection_img',
            success: function(res){
                setTimeout(() => {

                    spinner.classList.add('no-display')
                    console.log('success2');
                    imgdet.innerHTML += `
                    <div class="imgdetect" style="justify-content: center; display: flex; margin-top: 30px;">
                    <img src="{% url 'image_feed' %}">
                    </div>`
                    // spinner.classList.add('no-display')
                    // $('#spinner').hide();
                },400);
            },
            error:function(er){
                console.log('error')
            },
        })

    var btn1 = document.getElementById("btn1");
    btn1.addEventListener("click",e=>{
        e.preventDefault();
        var l = Number(document.getElementById("Langle").value);
        var r = Number(document.getElementById("Rangle").value);

        if((l && r) < 175)
        {
            document.getElementById("imgRes1").innerHTML = "Knock Knee is Present And"
        }
        else if((l && r) > 190)
        {
            document.getElementById("imgRes1").innerHTML = "Bowleg is Present And"
        }
        else
        {
            document.getElementById("imgRes1").innerHTML = "No Deformity is Present"

        }
       
    })
    function ageCalculator() { 
        var l = Number(document.getElementById("Langle").value);
        var r = Number(document.getElementById("Rangle").value); 
        var userinput = document.getElementById("DOB").value;  
        var dob = new Date(userinput);  
        if(userinput==null || userinput=='') {  
          document.getElementById("message").innerHTML = "**Choose a date please!";    
          return false;   
        } else {  
          
        //calculate month difference from current date in time  
        var month_diff = Date.now() - dob.getTime();  
          
        //convert the calculated difference in date format  
        var age_dt = new Date(month_diff);   
          
        //extract year from date      
        var year = age_dt.getUTCFullYear();  
          
        //now calculate the age of the user  
        var age = Math.abs(year - 1970);  
          
        //display the calculated age 
        if(((age <= 2) && ((l && r)> 190)))
        {
            return document.getElementById("imgRes2").innerHTML = " Its Normal in this age and will be fix by itself"
        }
        else if (((age <= 2) && ((l && r)< 175)))
        {
            return document.getElementById("imgRes2").innerHTML = "Its Not Normal In this age"
        }
        else if (((2 < age) && (7 >= age)  && ((l && r)> 190)))
        {
            return document.getElementById("imgRes2").innerHTML = "Its Not Normal In this age, You need to consult a doctor"
        }
        else if (((2 < age) && (7 >= age)  && ((l && r)< 175)))
        {
            return document.getElementById("imgRes2").innerHTML = "Its Normal in this age and will be fix by itself" 
        }
        else if (((7 < age) && (13 >= age) && ((l && r)> 190)))
        {
            return document.getElementById("imgRes2").innerHTML = "Its Not Normal In this age, You need to consult a doctor and can be cured by doing some exercise or by minor surgey"
        }
        else if (((7 < age) && (13 >= age) && ((l && r)< 175)))
        {
        return document.getElementById("imgRes2").innerHTML = "Its Not Normal In this age, You need to consult a doctor and can be cured by doing some exercise or by minor surgey"  
        }
        else if (((13 < age) && (18 >= age) && ((l && r)> 190)))
        {
            return document.getElementById("imgRes2").innerHTML = "Its Not Normal In this age, You need to consult a doctor"  
        }
        else if (((13 < age) && (18 >= age) && ((l && r)< 175)))
        {
            return document.getElementById("imgRes2").innerHTML = "Its Not Normal In this age, You need to consult a doctor"  
        }
                
        }  

        // let imgRes1 = document.getElementById('imgRes1').value
        // let imgRes2 = document.getElementById('imgRes2').value



        //     document.getElementById('RESULT').innerHTML = document.getElementById("imgRes1").value + document.getElementById("imgRes2").value;

        

    }  

   

</script>

{% endblock body %}