{% extends 'base.html' %}

{% block title %} Forget Password Page {% endblock title %}

{% block body %}

<div
class="
  container
  d-flex
  flex-column
  justify-content-center
  align-items-center
"
style="height: 100vh;"
>
{% if messages %} {% for i in messages %}
<div class="alert alert-primary" role="alert">{{i}}</div>
{%endfor%} {% endif %}
<h1 class="text-primary">We Will Send You Link On Your Mail!</h1>
<form method="POST" action="">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"
      >Username</label
    >
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="username"
    />
    
  <button type="submit" class="my-3 btn btn-primary">Send Mail</button>
</form>
</div>

{% endblock body %}