{% extends 'base.html' %}

{% block title %}GenuVarum {% endblock title %}

{% load static %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<div id="gvarum" class="container gvarum">
    <div class="container gvarcontent">
            <h1>What is Bow Leg(Genu Varum)?</h1>
            <p class="lead">
            Bow legs (genu varum) is a condition where one or both of your child’s legs curve outward at the knees. 
            This creates a wider space than normal between the knees and lower legs. When your child stands with his or her feet and ankles together, the knees stay wide apart.
            Your child’s legs may look like a bow, especially when they walk.
            </p>
    
            <div class="card" style="width: 18rem;">
                <img src="{%static 'gvarum1.jpg'%}" class="card-img-top" alt="gvalgum1">
            </div>
        
        
            <h1>Who gets bow legs?</h1>
            <p>
                Bow legs are common in infants and toddlers. The condition is rarely serious.
                Babies born bow legged usually grow out of the condition by the time they turn 18 months old. 
                Bow legs also can occur in older children. You’ll want to have these cases evaluated by a healthcare provider.
            </p>
        
    
        
        <!-- <div class="img">
            <img src="{%static 'genu-valgum.jpg'%}" alt="valgumimg1">
        </div>
     -->
      
            <h1> What causes bowed legs in babies?</h1>
            <p>
                Bow legs develop for a number of different reasons. The most common cause of bow legs is a condition called physiologic genu varum.
                When your baby was developing in the uterus (womb), they were in a cramped position.
                Some of your baby’s bones had to rotate while they were was in your uterus so they could fit in the small space.
                <br><br>

                Physiologic genu varum is just your child going through the normal developmental process.
                If your child’s legs haven’t straightened by 2 years old, there may be another reason. <br>

                These include:
                <ol style="list-style-type:circle">
                    <li>
                       <u><b>  Blount’s disease:- </b></u> <br>
                         Blount’s disease (tibia vara) is a growth disorder caused by an issue in the growth plate of your child’s shin bone. 
                         Blount’s disease is more common in African American children, children who are overweight and children who walked early.
                    </li>

                    <li>
                       <u><b> Rickets:- </b></u> 
                         Rickets is caused by a calcium or vitamin D deficiency. Deficiencies in these important nutrients make your child’s bones softer and weaker,
                        causing his or her legs to bow. Rickets is very rare in the United States but still occurs often in developing countries.
                    </li>

                    <li>
                        <u><b> Dwarfism:- </b></u>
                         The most common type of dwarfism is caused by a bone growth disorder called achondroplasia. This disorder can cause bow legs.
                    </li>

                    <li>
                        <u><b> Other bone issues:- </b></u>
                         Fractures that haven’t healed correctly and abnormally developed bones (bone dysplasia) can cause bow legs.
                    </li>

                    <li>
                        <u><b> Fluoride or lead poisoning. </b></u>
                    </li>
                </ol>


            </p>
       

        
            <h1> What are the symptoms of bow legs(genu varum) ?</h1>
            <p>
                The main sign of bowed legs is the appearance of your child’s legs. Their knees won’t touch when they stand with their feet and ankles together. 
                The bowing is most obvious when they’re walking. Sometimes children may walk with their toes pointed inward (pigeon toes or intoeing). 
                <br><br>
                
                However, bow legs usually don’t cause any pain. 
                Bow legs don’t affect your child’s ability to crawl, walk or run. If your child’s bow legs don’t start to improve by age 2, contact your child’s healthcare provider.
            </p>
       

    
        <br>
    </div>
        

    {% comment %} <div class="table-responsive">

        <table class="table align-middle table2" border="2"> 
            <tr>
                <thead align="center">
                    <th>Hospitals</th>
                    <th>Name</th>
                    <th>Address</th>
                </thead>
            </tr>
            <tbody>
                <tr>
                    <td> <img  src="{%static 'Fortis_hiran_Hosp_Navi_Mum.jpg'%}" height="120" width="300" /></td>
                    <td class="name">Fortis Hiranandani Hospital, Vashi, Navi Mumbai</td>
                    <td>Plot No. 28, Juhu Chowpatty Marg, Juhu Nagar, Sector 10A, Navu Mumbai, Mumbai, 4000703,India </td>
                </tr>
                <tr>
                    <td><img src="{%static 'Fortis Hospital ,Mulund.jpg'%}" height="120" width="300"></td>
                    <td class="name">Fortis Hospital, Mulund, Mumbai</td>
                    <td>Mulund Goregaon Link Road,Mulund (West), Mumbai, Maharashtra, 400078, India</td>
                </tr>
                <tr>
                    <td><img src="{%static 'Jaslok Hosp,Mum.JPG'%}" alt="" height="120" width="310Hospital_img" height="120" width="300"></td>
                    <td class="name">Jaslok Hospital, Mumbai</td>
                    <td>15 - Deshmukh Marg, Pedder Road, Mumbai, Maharashtra, 400026, India</td>
                </tr>
                <tr>
                    <td><img src="{%static 'Kokilaben Hospital Andheri.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name"> Kokilaben Dhirubhai Ambani Hospital, Andheri, Mumbai</td>
                    <td>Rao Saheb Achutrao Patwardhan Marg, four Bunglows, Mumbai, Maharashtra, 400053, India </td>
                </tr>
                <tr>
                    <td><img src="{%static 'Global Hospital,Mum.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name">Global Hospital, Mumbai</td>
                    <td>35, D.E.Borges Road, Hospital Avenue Opp Shirodkar High School, Parel, Mumbai, Maharashtra, 400012, India</td>
                </tr>
                <tr>
                    <td><img src="{%static '\Saifee Hosp,Mum.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name">Saifee Hospital, Mumbai</td>
                    <td>15/17, Maharshi Karve Marg, Girgaon, charni Road, Mumbai, Maharashtra, 400004, India</td>
                </tr>
                <tr>
                    <td><img src="{%static 'SL Hosp,Mum.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name">S L Raheja Hospital, Mahim, Mumbai</td>
                    <td>Raheja Rugnalaya Marg, Mahim(West), Mumabi, Maharashtra. 400016, India</td>
                </tr>
                <tr>
                    <td><img src="{%static 'Reliance Hosp,Navi Mum.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name">Reliance Hospital, Navi Mumbai</td>
                    <td>X8 and X8/1, Thane - Belapur Road, Opposite Kopar Khairane Ghansoli Station Road, Dhirubhai Ambani Knowledge City, MIDC Industrial area, Kopar Khairane, Navi Mumbai, Maharashtra, 400710, India</td>
                </tr>
                <tr>
                    <td><img src="{%static 'SRV Hosp Dombivli.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name">SRV Mamata Hospital, Dombivli, Mumbai</td>
                    <td>P-43, next to ICICI Bank, Phase II, MIDIC, Dombivli, E, Dombivli, Mumbai, Maharashtra, 421203, India</td>
                </tr>
                <tr>
                    <td><img src="{%static 'SRV Hosp Chembur.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name">SRV Hospital, Chembur, Mumbai</td>
                    <td>Dr Mandakini Parihar marg, Opposite Lokmanya Tilak Terminus, Shell Colony, Mumbai, Maharashtra, 400089, India</td>
                </tr>
            </tbody>

            
        </table>
    </div>   {% endcomment %}

    {% comment %} <div class="album py-5 bg-light">
        <div class="container my-3">
        <h1 class="my-4 text-center">Hospitals</h1>
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="{%static 'Fortis_hiran_Hosp_Navi_Mum.jpg'%}" class="card-img-top" alt="Hospital_img">
    
                <div class="card-body">
                    <h5 class="card-title">Fortis Hiranandani Hospital, Vashi, Navi Mumbai</h5>
                    <p class="card-text">Plot No. 28, Juhu Chowpatty Marg, Juhu Nagar, Sector 10A, Navu Mumbai, Mumbai, 4000703,India</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="{%static 'Fortis Hospital ,Mulund.jpg'%}" class="card-img-top" alt="Hospital_img">
    
                <div class="card-body">
                    <h5 class="card-title">Fortis Hospital, Mulund, Mumbai</h5>
                    <p class="card-text">Mulund Goregaon Link Road,Mulund (West), Mumbai, Maharashtra, 400078, India</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="{%static 'Jaslok Hosp,Mum.JPG'%}" class="card-img-top" alt="Hospital_img">

                <div class="card-body">
                    <h5 class="card-title">Jaslok Hospital, Mumbai</h5>
                    <p class="card-text">15 - Deshmukh Marg, Pedder Road, Mumbai, Maharashtra, 400026, India</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="{%static 'Kokilaben Hospital Andheri.JPG'%}" class="card-img-top" alt="Hospital_img">
                
                <div class="card-body">
                    <h5 class="card-title">Kokilaben Dhirubhai Ambani Hospital, Andheri, Mumbai</h5>
                    <p class="card-text">Rao Saheb Achutrao Patwardhan Marg, four Bunglows, Mumbai, Maharashtra, 400053, India</p>
                </div>
              </div>
    
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="{%static 'Global Hospital,Mum.JPG'%}" class="card-img-top" alt="Hospital_img">

                    <div class="card-body">
                      <h5 class="card-title">Global Hospital, Mumbai</h5>
                      <p class="card-text">35, D.E.Borges Road, Hospital Avenue Opp Shirodkar High School, Parel, Mumbai, Maharashtra, 400012, India</p>
                    </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                    <img src="{%static '\Saifee Hosp,Mum.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title">Saifee Hospital, Mumbai</h5>
                      <p class="card-text">15/17, Maharshi Karve Marg, Girgaon, charni Road, Mumbai, Maharashtra, 400004, India</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="{%static 'SL Hosp,Mum.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title">S L Raheja Hospital, Mahim, Mumbai</h5>
                      <p class="card-text">Raheja Rugnalaya Marg, Mahim(West), Mumabi, Maharashtra. 400016, India</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="{%static 'Reliance Hosp,Navi Mum.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title">Reliance Hospital, Navi Mumbai</h5>
                      <p class="card-text">X8 and X8/1, Thane - Belapur Road, Opposite Kopar Khairane Ghansoli Station Road, Dhirubhai Ambani Knowledge City, MIDC Industrial area, Kopar Khairane, Navi Mumbai, Maharashtra, 400710, India</p>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{%static 'SRV Hosp Dombivli.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title">SRV Mamata Hospital, Dombivli, Mumbai</h5>
                      <p class="card-text">P-43, next to ICICI Bank, Phase II, MIDIC, Dombivli, E, Dombivli, Mumbai, Maharashtra, 421203, India</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="{%static 'SRV Hosp Chembur.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title">SRV Hospital, Chembur, Mumbai</h5>
                      <p class="card-text">Dr Mandakini Parihar marg, Opposite Lokmanya Tilak Terminus, Shell Colony, Mumbai, Maharashtra, 400089, India</p>
                    </div>
                </div>
            </div>

            </div>
          </div>
        </div> {% endcomment %}

</div>
</div>
{% endblock body %}
