{% extends 'base.html' %}


{% block title %}Genu Valgum {% endblock title %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% comment %} <img class="bgimg" src="{% static 'img1.jpg'%}"> {% endcomment %}
<div id="gvalgum" class="gvalgum">


    <div class="gvalcontent">
    <h1>What is Genu Valgum ?</h1>

    <p>
            Genu valgum, known as knock-knees, is a knee misalignment that turns your knees inward.
            When people with knock-knees stand up with their knees together, there’s a gap of 3 inches or more between their ankles. 
            This is because their knees are bent so far inward. <br>

            <div class="c1">
                Genu valgum can also develop later in life from:
                    <ol style="list-style-type:circle"> 
                        <li> an injury or infection in your knee or leg </li> 
                        <li> severe lack of vitamin D and calcium </li>
                        <li> obesity </li>
                        <li> arthritis in the knee </li>
                    </ol>
            </div>  
            
            This condition can’t be prevented, but its effects can be minimized.
            Physical therapy and exercise are often a successful alternative to surgery. Keep reading to learn more.
        </p>

    </div>


    
    <div class="img">
        <img src="{%static 'genu-valgum.jpg'%}" alt="valgumimg1" style="border-radius:1rem;">
    </div>

    <div class="gvalcontent2">
        <h1> What are the symptoms of genu valgum ?</h1>
        <p>
            Genu valgum that persists beyond childhood may have other symptoms besides misaligned knees. <br>
            They include:
            <ol style="list-style-type:circle">
                <li> stiff joints </li>
                <li> knee pain </li>
                <li> walking with a limp </li>
            </ol>

            Stressed ligaments and muscles can also cause pain in your hips, ankles, or feet.If only one knee is out of line, your stance may be unbalanced.

        </p>
    </div>

    <div class="gvalcontent3">
        <h3> Some Leg Pain Hospitals in Mumbai </h3>
    </div>

    <br>
    
    </div>
    <div class="table1">
        <table border="2"> 
            <tr>
                <thead align="center">
                    <th>Hospitals</th>
                    <th>Name</th>
                    <th>Address</th>
                </thead>
            </tr>
            <tbody>
                <tr>
                    <td> <img  src="{%static 'Fortis_hiran_Hosp_Navi_Mum.jpg'%}" height="120" width="300" /></td>
                    <td class="name">Fortis Hiranandani Hospital, Vashi, Navi Mumbai</td>
                    <td>Plot No. 28, Juhu Chowpatty Marg, Juhu Nagar, Sector 10A, Navu Mumbai, Mumbai, 4000703,India </td>
                </tr>
                <tr>
                    <td><img src="{%static 'Fortis Hospital ,Mulund.jpg'%}" height="120" width="300"></td>
                    <td class="name">Fortis Hospital, Mulund, Mumbai</td>
                    <td>Mulund Goregaon Link Road,Mulund (West), Mumbai, Maharashtra, 400078, India</td>
                </tr>
                <tr>
                    <td><img src="{%static 'Jaslok Hosp,Mum.JPG'%}" alt="" height="120" width="310Hospital_img" height="120" width="300"></td>
                    <td class="name">Jaslok Hospital, Mumbai</td>
                    <td>15 - Deshmukh Marg, Pedder Road, Mumbai, Maharashtra, 400026, India</td>
                </tr>
                <tr>
                    <td><img src="{%static 'Kokilaben Hospital Andheri.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name"> Kokilaben Dhirubhai Ambani Hospital, Andheri, Mumbai</td>
                    <td>Rao Saheb Achutrao Patwardhan Marg, four Bunglows, Mumbai, Maharashtra, 400053, India </td>
                </tr>
                <tr>
                    <td><img src="{%static 'Global Hospital,Mum.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name">Global Hospital, Mumbai</td>
                    <td>35, D.E.Borges Road, Hospital Avenue Opp Shirodkar High School, Parel, Mumbai, Maharashtra, 400012, India</td>
                </tr>
                <tr>
                    <td><img src="{%static '\Saifee Hosp,Mum.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name">Saifee Hospital, Mumbai</td>
                    <td>15/17, Maharshi Karve Marg, Girgaon, charni Road, Mumbai, Maharashtra, 400004, India</td>
                </tr>
                <tr>
                    <td><img src="{%static 'SL Hosp,Mum.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name">S L Raheja Hospital, Mahim, Mumbai</td>
                    <td>Raheja Rugnalaya Marg, Mahim(West), Mumabi, Maharashtra. 400016, India</td>
                </tr>
                <tr>
                    <td><img src="{%static 'Reliance Hosp,Navi Mum.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name">Reliance Hospital, Navi Mumbai</td>
                    <td>X8 and X8/1, Thane - Belapur Road, Opposite Kopar Khairane Ghansoli Station Road, Dhirubhai Ambani Knowledge City, MIDC Industrial area, Kopar Khairane, Navi Mumbai, Maharashtra, 400710, India</td>
                </tr>
                <tr>
                    <td><img src="{%static 'SRV Hosp Dombivli.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name">SRV Mamata Hospital, Dombivli, Mumbai</td>
                    <td>P-43, next to ICICI Bank, Phase II, MIDIC, Dombivli, E, Dombivli, Mumbai, Maharashtra, 421203, India</td>
                </tr>
                <tr>
                    <td><img src="{%static 'SRV Hosp Chembur.JPG'%}" alt="Hospital_img" height="120" width="300"></td>
                    <td class="name">SRV Hospital, Chembur, Mumbai</td>
                    <td>Dr Mandakini Parihar marg, Opposite Lokmanya Tilak Terminus, Shell Colony, Mumbai, Maharashtra, 400089, India</td>
                </tr>
            </tbody>


            
        </table>
    </div>
</div>

{% endblock body %}

