{% extends 'base.html' %}


{% block title %}Genu Valgum {% endblock title %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% comment %} <img class="bgimg" src="{% static 'img1.jpg'%}"> {% endcomment %}
<div id="gvalgum" class="container gvalgum">


    <div class="container gvalcontent">
        <h1>What is Genu Valgum ?</h1>

        <p>
            Genu valgum, known as knock-knees, is a knee misalignment that turns your knees inward.
            When people with knock-knees stand up with their knees together, there’s a gap of 3 inches or more between their ankles. 
            This is because their knees are bent so far inward. <br>

            <div class="c1">
                Genu valgum can also develop later in life from:
                    <ol style="list-style-type:circle"> 
                        <li> an injury or infection in your knee or leg </li> 
                        <li> severe lack of vitamin D and calcium </li>
                        <li> obesity </li>
                        <li> arthritis in the knee </li>
                    </ol>
            </div>
            
            This condition can’t be prevented, but its effects can be minimized.
            Physical therapy and exercise are often a successful alternative to surgery. Keep reading to learn more.
        </p>

        <div class="card" style="width: 18rem;">
          <img src="{%static 'gvalgum1.jpg'%}" class="card-img-top" alt="gvalgum1">
        </div>
        <!-- <img src="{%static 'gvalgum1.jpg'%}" class="d-block w-100 height3" alt="gvalgum1"> -->

        <div class="card" style="width: 18rem;">
          <img src="{%static 'gvalgum2.jpg'%}" class="card-img-top" alt="gvalgum1">
        </div>

        <h1> What are the symptoms of genu valgum ?</h1>
        <p>
            Genu valgum that persists beyond childhood may have other symptoms besides misaligned knees. <br>
            They include:
            <ol style="list-style-type:circle">
                <li> stiff joints </li>
                <li> knee pain </li>
                <li> walking with a limp </li>
            </ol>

            Stressed ligaments and muscles can also cause pain in your hips, ankles, or feet.If only one knee is out of line, your stance may be unbalanced.

        </p>
 
        <br>
        
    </div>

    


    {% comment %} <div class="album py-5 bg-light">
        <div class="container my-3">
        <h1 class="my-4 text-center">Select from our range of Ice Creams</h1>
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="{%static 'Fortis_hiran_Hosp_Navi_Mum.jpg'%}" class="card-img-top" alt="Hospital_img">
    
                <div class="card-body">
                    <h5 class="card-title">Fortis Hiranandani Hospital, Vashi, Navi Mumbai</h5>
                    <p class="card-text">Plot No. 28, Juhu Chowpatty Marg, Juhu Nagar, Sector 10A, Navu Mumbai, Mumbai, 4000703,India</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="{%static 'Fortis Hospital ,Mulund.jpg'%}" class="card-img-top" alt="Hospital_img">
    
                <div class="card-body">
                    <h5 class="card-title">Fortis Hospital, Mulund, Mumbai</h5>
                    <p class="card-text">Mulund Goregaon Link Road,Mulund (West), Mumbai, Maharashtra, 400078, India</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="{%static 'Jaslok Hosp,Mum.JPG'%}" class="card-img-top" alt="Hospital_img">

                <div class="card-body">
                    <h5 class="card-title">Jaslok Hospital, Mumbai</h5>
                    <p class="card-text">15 - Deshmukh Marg, Pedder Road, Mumbai, Maharashtra, 400026, India</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img src="{%static 'Kokilaben Hospital Andheri.JPG'%}" class="card-img-top" alt="Hospital_img">
                
                <div class="card-body">
                    <h5 class="card-title">Kokilaben Dhirubhai Ambani Hospital, Andheri, Mumbai</h5>
                    <p class="card-text">Rao Saheb Achutrao Patwardhan Marg, four Bunglows, Mumbai, Maharashtra, 400053, India</p>
                </div>
              </div>
    
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="{%static 'Global Hospital,Mum.JPG'%}" class="card-img-top" alt="Hospital_img">

                    <div class="card-body">
                      <h5 class="card-title">Global Hospital, Mumbai</h5>
                      <p class="card-text">35, D.E.Borges Road, Hospital Avenue Opp Shirodkar High School, Parel, Mumbai, Maharashtra, 400012, India</p>
                    </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                    <img src="{%static '\Saifee Hosp,Mum.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title">Saifee Hospital, Mumbai</h5>
                      <p class="card-text">15/17, Maharshi Karve Marg, Girgaon, charni Road, Mumbai, Maharashtra, 400004, India</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="{%static 'SL Hosp,Mum.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title">S L Raheja Hospital, Mahim, Mumbai</h5>
                      <p class="card-text">Raheja Rugnalaya Marg, Mahim(West), Mumabi, Maharashtra. 400016, India</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="{%static 'Reliance Hosp,Navi Mum.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title">Reliance Hospital, Navi Mumbai</h5>
                      <p class="card-text">X8 and X8/1, Thane - Belapur Road, Opposite Kopar Khairane Ghansoli Station Road, Dhirubhai Ambani Knowledge City, MIDC Industrial area, Kopar Khairane, Navi Mumbai, Maharashtra, 400710, India</p>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{%static 'SRV Hosp Dombivli.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title">SRV Mamata Hospital, Dombivli, Mumbai</h5>
                      <p class="card-text">P-43, next to ICICI Bank, Phase II, MIDIC, Dombivli, E, Dombivli, Mumbai, Maharashtra, 421203, India</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="{%static 'SRV Hosp Chembur.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title">SRV Hospital, Chembur, Mumbai</h5>
                      <p class="card-text">Dr Mandakini Parihar marg, Opposite Lokmanya Tilak Terminus, Shell Colony, Mumbai, Maharashtra, 400089, India</p>
                    </div>
                </div>
            </div>

            </div>
          </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}

</div>

{% endblock body %}

