{% extends 'base.html' %}

{% load static %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="stylesheet" media="screen and (max-width: 412px" href="{% static 'phone.css' %}">

<div id="gvarum" class="container">
    <br><br><br>
    <div class="container-fluid gvalcontent gvarum1 gvarum1a"> 
      <h2>Contents</h2>
      <li> <a href="#bowleg"> Who gets bow legs?</a> </li>
      <li> <a href="#causes"> What causes bowed legs in babies?</a> </li>
      <li> <a href="#symptoms"> What are the symptoms of bow legs(genu varum) ?</a> </li>

      <br>
        <div class="container gvarcontent gvarum1a">
            <h1 id="gvalgum">What is Bow Leg(Genu Varum)?</h1>
            <p class="lead"><h4>
            Bow legs (genu varum) is a condition where one or both of your child’s legs curve outward at the knees. 
            This creates a wider space than normal between the knees and lower legs. When your child stands with his or her feet and ankles together, the knees stay wide apart.
            Your child’s legs may look like a bow, especially when they walk. </h4>
            </p>
    
            <div id="bowleg" class="card" style="width: 18rem;">
                <img src="{%static 'gvarum1.jpg'%}" class="card-img-top" alt="gvalgum1">
            </div>
        
            <br>
            
                <h1>Who gets bow legs?</h1>
                <p id="causes"> <h4>
                    Bow legs are common in infants and toddlers. The condition is rarely serious.
                    Babies born bow legged usually grow out of the condition by the time they turn 18 months old. 
                    Bow legs also can occur in older children. You’ll want to have these cases evaluated by a healthcare provider.</h4>
                </p>
        
      
            <h1 > What causes bowed legs in babies?</h1>
            <p><h4>
                Bow legs develop for a number of different reasons. The most common cause of bow legs is a condition called physiologic genu varum.
                When your baby was developing in the uterus (womb), they were in a cramped position.
                Some of your baby’s bones had to rotate while they were was in your uterus so they could fit in the small space.
                <br><br>

                Physiologic genu varum is just your child going through the normal developmental process.
                If your child’s legs haven’t straightened by 2 years old, there may be another reason. <br>

                These include:
                <ol style="list-style-type:circle">
                    <li>
                       <u><b>  Blount’s disease:- </b></u> <br>
                         Blount’s disease (tibia vara) is a growth disorder caused by an issue in the growth plate of your child’s shin bone. 
                         Blount’s disease is more common in African American children, children who are overweight and children who walked early.
                    </li>

                    <li>
                       <u><b> Rickets:- </b></u> 
                         Rickets is caused by a calcium or vitamin D deficiency. Deficiencies in these important nutrients make your child’s bones softer and weaker,
                        causing his or her legs to bow. Rickets is very rare in the United States but still occurs often in developing countries.
                    </li>

                    <li>
                        <u><b> Dwarfism:- </b></u>
                         The most common type of dwarfism is caused by a bone growth disorder called achondroplasia. This disorder can cause bow legs.
                    </li>

                    <li>
                        <u><b> Other bone issues:- </b></u>
                         Fractures that haven’t healed correctly and abnormally developed bones (bone dysplasia) can cause bow legs.
                    </li>

                    <li>
                        <u><b> Fluoride or lead poisoning. </b></u>
                    </li>
                </ol>
            </h4>

            </p>
       

        
            <h1 id="symptoms"> What are the symptoms of bow legs(genu varum) ?</h1>
            <p><h4>
                The main sign of bowed legs is the appearance of your child’s legs. Their knees won’t touch when they stand with their feet and ankles together. 
                The bowing is most obvious when they’re walking. Sometimes children may walk with their toes pointed inward (pigeon toes or intoeing). 
                <br><br>
                
                However, bow legs usually don’t cause any pain. 
                Bow legs don’t affect your child’s ability to crawl, walk or run. If your child’s bow legs don’t start to improve by age 2, contact your child’s healthcare provider. </h4>
            </p>
       

         </div>

    </div>
</div>

<footer> 
    <div class="footer mt-auto">
      <center>
         
        <label for="emailid" class="form-label"> <h4>Contact us on Email ID: <u> legdetect1229@gmail.com</u></h4> </label>
      </center>
    </div>
  </footer>
{% endblock body %}
