{% extends 'base.html' %}


{% block title %}Genu Valgum {% endblock title %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% comment %} <img class="bgimg" src="{% static 'img1.jpg'%}"> {% endcomment %}
<div id="gvalgum" class="container gvalgum">
  <br><br><br>
    <div class="container gvalcontent">
      <h2>Contents</h2>
      <li> <a href="#gvalgum"> What is Genu Valgum Deformity?</a> </li>
      <li> <a href="#symptoms"> What are the symptoms of genu valgum ?</a> </li>

      <br><br>
        <h1 id="gvalgum">What is Genu Valgum Deformity?</h1>

        <p>
            Genu valgum, known as knock-knees, is a knee misalignment that turns your knees inward.
            When people with knock-knees stand up with their knees together, there’s a gap of 3 inches or more between their ankles. 
            This is because their knees are bent so far inward. <br>

            <div class="c1">
                Genu valgum can also develop later in life from:
                    <ol style="list-style-type:circle"> 
                        <li> an injury or infection in your knee or leg </li> 
                        <li> severe lack of vitamin D and calcium </li>
                        <li> obesity </li>
                        <li> arthritis in the knee </li>
                    </ol>
            </div>
            
            This condition can’t be prevented, but its effects can be minimized.
            Physical therapy and exercise are often a successful alternative to surgery. Keep reading to learn more.
        </p>

        <div class="card py-2" style="width: 18rem;">
          <img src="{%static 'gvalgum1.jpg'%}" class="card-img-top" alt="gvalgum1">
        </div>

        <!-- <img src="{%static 'gvalgum1.jpg'%}" class="d-block w-100 height3" alt="gvalgum1"> -->
<!-- 
        <div class="card" style="width: 18rem;">
          <img src="{%static 'gvalgum2.jpg'%}" class="card-img-top" alt="gvalgum1">
        </div> -->


        <h1 id="symptoms"> What are the symptoms of genu valgum ?</h1>
        <p>
            Genu valgum that persists beyond childhood may have other symptoms besides misaligned knees. <br>
            They include:
            <ol style="list-style-type:circle">
                <li> stiff joints </li>
                <li> knee pain </li>
                <li> walking with a limp </li>
            </ol>

            Stressed ligaments and muscles can also cause pain in your hips, ankles, or feet.If only one knee is out of line, your stance may be unbalanced.

        </p>
 
        <br>
        
    </div>



</div>

{% endblock body %}

