{% extends 'base.html' %}

{% block title %}Knee Deformity Detection {% endblock title %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{%static 'Homeimg1.jpg'%}" class="d-block w-100 height1" alt="Homeimg1">
      </div>
      <!-- <div class="carousel-item">
        <img src="{%static 'Homeimg6.jpg'%}" class="d-block w-100 height2" alt="Homeimg2">
      </div> -->
      <div class="carousel-item">
        <img src="{%static 'Homeimg3.jpg'%}" class="d-block w-100 height3" alt="Homeimg3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br><br> <br>
  <div class="container-fluid">
      <h1> KNEE DEFORMITY DETECTION </h1>
      <p> <h4> Knee Deformity Detection is a application , in which we detect the deformity present in our knee. <br> A deformity like GenuValgum(Knock knees) and GenuVarum(Bow Leg)</h4>
      </p>
      <br><br>
      <h2>What is Genu valgum Deformity?</h2>
      <p>
        <h4>
        Genu valgum, known as knock-knees, is a knee misalignment that turns your knees inward. <br> When people with knock-knees stand up with their knees together, there’s a gap of 3 inches or more between their ankles.
        <a href="/GenuValgum">Know more</a></h4>
      </p>

      <br>
      <!-- <div class="card" style="width: 18rem;">
        <img src="{%static 'Homeimg5.jpg'%}" class="card-img-top" alt="Homeimg5">
      </div> -->
      <img src="{%static 'Homeimg5.jpg'%}" class="d-block w-100 height4" alt="Homeimg5">

      <br>
      <h2>What is Bow Leg Deformity?</h2>
      <p>
        <h4>
        Bow legs (genu varum) is a condition where one or both of your child’s legs curve outward at the knees. <br> This creates a wider space than normal between the knees and lower legs.
        <a href="/GenuVarum">Know more</a>
      </h4>
      </p>
      <br>
      <!-- <div class="card" style="width: 18rem;">
        <img src="{%static 'Homeimg4.jpg'%}" class="card-img-top w-200" alt="Homeimg4">
      </div> -->
      <img src="{%static 'Homeimg4.jpg'%}" class="d-block w-100 height4" alt="Homeimg4">

      <h4> Here you can check the whether you have genu valgum/genu varum or not in your body. </h4>
      <p>
        <h4>Instructions to use the detection functionality to check the deformity presences.</h4>
        <br>
        <ol style="list-style-type:number">
          <li>Before you use the functionality you have to sign up and login in our website to use the functionality.</li>
          <li>You should fall within the age gap mentioned below otherwise the result will not be correct. </li>
          <li>You should stand in your normal body position and not in any style otherwise the result will not be correct. </li>
          <li>You have to stand in front of the camera and their should be other person who will take your photo and note down the angles mentioned below.</li>
          <li>Type the noted angles of your body in the form and click on the "Predict" button to get the result.</li>
          <li> <b><i>Note:</i></b> If it shows you have deformity, you have to consult to the doctor for its treatment.</li>
        </ol>
      </p>
  </div>
</div>
 

{% endblock body %}

