{% extends 'base.html' %}

{% block title %}Knee Deformity Detection {% endblock title %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<div class="container-fluid px-0">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img src="{% static 'genu-valgum.jpg'%}" height="600"  class="d-block w-100 homeimg" alt="genu valgum">
        <div class="carousel-caption d-none d-md-block">
            <h5 class="heading">Genu Valgum 1</h5>
          </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'genuvalgum2.jpg'%}" height="600" class="d-block w-100 homeimg" alt="genu valgum">
        <div class="carousel-caption d-none d-md-block">
            <h5 class="heading">Genu Valgum 2</h5>
          </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'genuvalgum3.jpeg'%}" height="600" class="d-block w-100 homeimg" alt="genu valgum">
        <div class="carousel-caption d-none d-md-block">
            <h5 class="heading">Genu Valgum 3</h5>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
</div>
 

{% endblock body %}

