{% extends 'base.html' %}

{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<br><br>
<div class="container hosp1">
    
    <br>
    <h1><center> Hospitals Name</center></h1>
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <img src="{%static 'Fortis_hiran_Hosp_Navi_Mum.jpg'%}" class="card-img-top" alt="Hospital_img">
    
                <div class="card-body">
                    <h5 class="card-title text-dark">Fortis Hiranandani Hospital, Vashi, Navi Mumbai</h5>
                    <p class="card-text">Plot No. 28, Juhu Chowpatty Marg, Juhu Nagar, Sector 10A, Navu Mumbai, Mumbai, 4000703,India</p>
                </div>
                    
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <img src="{%static 'Fortis Hospital ,Mulund.jpg'%}" class="card-img-top" alt="Hospital_img">
    
                <div class="card-body">
                    <h5 class="card-title text-dark">Fortis Hospital, Mulund, Mumbai</h5>
                    <p class="card-text">Mulund Goregaon Link Road,Mulund (West), Mumbai, Maharashtra, 400078, India</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <img src="{%static 'Jaslok Hosp,Mum.JPG'%}" class="card-img-top" alt="Hospital_img">

                <div class="card-body">
                    <h5 class="card-title text-dark">Jaslok Hospital, Mumbai</h5>
                    <p class="card-text">15 - Deshmukh Marg, Pedder Road, Mumbai, Maharashtra, 400026, India</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <img src="{%static 'Kokilaben Hospital Andheri.JPG'%}" class="card-img-top" alt="Hospital_img">
                
                <div class="card-body">
                    <h5 class="card-title text-dark">Kokilaben Dhirubhai Ambani Hospital, Andheri, Mumbai</h5>
                    <p class="card-text">Rao Saheb Achutrao Patwardhan Marg, four Bunglows, Mumbai, Maharashtra, 400053, India</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <img src="{%static 'Global Hospital,Mum.JPG'%}" class="card-img-top" alt="Hospital_img">

                    <div class="card-body">
                      <h5 class="card-title text-dark">Global Hospital, Mumbai</h5>
                      <p class="card-text">35, D.E.Borges Road, Hospital Avenue Opp Shirodkar High School, Parel, Mumbai, Maharashtra, 400012, India</p>
                    </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <img src="{%static '\Saifee Hosp,Mum.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title text-dark">Saifee Hospital, Mumbai</h5>
                      <p class="card-text">15/17, Maharshi Karve Marg, Girgaon, charni Road, Mumbai, Maharashtra, 400004, India</p>
                    </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <img src="{%static 'SL Hosp,Mum.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title text-dark">S L Raheja Hospital, Mahim, Mumbai</h5>
                      <p class="card-text">Raheja Rugnalaya Marg, Mahim(West), Mumabi, Maharashtra. 400016, India</p>
                    </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <img src="{%static 'Reliance Hosp,Navi Mum.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                <div class="card-body">
                  <h5 class="card-title text-dark">Reliance Hospital, Navi Mumbai</h5>
                  <p class="card-text">X8 and X8/1, Thane - Belapur Road, Opposite Kopar Khairane Ghansoli Station Road, Dhirubhai Ambani Knowledge City, MIDC Industrial area, Kopar Khairane, Navi Mumbai, Maharashtra, 400710, India</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <img src="{%static 'SRV Hosp Dombivli.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title text-dark">SRV Mamata Hospital, Dombivli, Mumbai</h5>
                      <p class="card-text">P-43, next to ICICI Bank, Phase II, MIDIC, Dombivli, E, Dombivli, Mumbai, Maharashtra, 421203, India</p>
                    </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <img src="{%static 'SRV Hosp Chembur.JPG'%}" class="card-img-top" alt="Hospital_img">
                    
                    <div class="card-body">
                      <h5 class="card-title text-dark">SRV Hospital, Chembur, Mumbai</h5>
                      <p class="card-text">Dr Mandakini Parihar marg, Opposite Lokmanya Tilak Terminus, Shell Colony, Mumbai, Maharashtra, 400089, India</p>
                    </div>
            </div>
        </div>
    </div>

    <li> For more information on hospitals you can to go this website <a href="https://www.credihealth.com/hospitals/mumbai/leg-pain" target="_blank">https://www.credihealth.com/hospitals/mumbai/leg-pain</a> </li>

    
</div>
 <br><br>
<footer> 
    <div class="footer mt-auto">
      <center>
         
        <label for="emailid" class="form-label"> <h4>Contact us on Email ID: <u> legdetect1229@gmail.com</u></h4> </label>
      </center>
    </div>
  </footer>

{% endblock body %}

