{% extends 'base.html' %}

{% block title %} Photo Detection {% endblock title %}
{% load static%}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<br><br><br>
<div class="container page3a">
  <center>
    <div class="row">
      <div class="col-lg-6 mb-4">
          <div class="card text-white bg-success" style="width: 18rem;">
              <img src="{%static 'woman-in-saree.jpg'%}" class="card-img-top w-200" alt="womenwrongpose">

              <div class="card-body">
              <h2>Wrong Pose </h2>
              <img src="https://img.icons8.com/emoji/48/000000/cross-mark-emoji.png"/>
              </div>
                  
          </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card text-white bg-success" style="width: 18rem;">
            <img src="{%static 'womenposecorrect.jpg'%}" class="card-img-top w-200" height="320px" alt="womencorrectpose">

            <div class="card-body">
              <h2>Correct Pose </h2>
              <img src="https://img.icons8.com/emoji/48/000000/check-mark-emoji.png"/>
            </div>
                
        </div>
      </div>
    </div>
  </center>
</div>
<footer> 
    <div class="footer fixed-bottom">
      <center>
        <label for="phone no" class="form-label"><h4>Contact us on: <u>9324170787</u> , <u>9324599096</u>  &nbsp;&nbsp;  | </h4></label>  &nbsp;&nbsp; 
        <label for="emailid" class="form-label"> <h4>Email ID: <u> legdetect1229@gmail.com</u></h4> </label>
      </center>
    </div>
  </footer>
{% endblock body %}