{% extends 'base.html' %}

{% block title %} Photo Detection {% endblock title %}
{% load static%}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<br><br><br>
<div class="container page2a">
  <center>
      <div class="card" style="width: 18rem;">
          <img src="{%static 'fullscreen.jpg'%}" class="card-img-top w-200" alt="FFimgposition">
      </div>
  </center>   
</div>
<footer> 
    <div class="footer fixed-bottom">
      <center>
        <label for="emailid" class="form-label"> <h4>Contact us on Email ID: <u> legdetect1229@gmail.com</u></h4> </label>
      </center>
    </div>
  </footer>
{% endblock body %}