{% extends 'base.html' %}

{% block title %} Treatment Genu Valgum {% endblock title %}

{%load static%}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<div class="container valgumtreat">
    {% comment %} <div class="video">
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/85gA9a4AHh4">
        </iframe>
        <br><br><br>
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/TRCx7_waDsA">
        </iframe>
        <br><br><br>
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/T9I62pLgwXQ">
        </iframe> {% endcomment %}

    {% comment %} </div> {% endcomment %}
    <div class=" container valgumtreatcont1">
         <h1>Genu Valgum</h1>
         <p> Genu valgum, or knock-knee, is a condition where the knees touch but the ankles do not.
             It appears most frequently in young children and can be concerning for parents who may know little about the condition. 
        </p>
        <br>
        <h2>Treatment</h2>

        <p>
            Treatment for genu valgum will largely depend on the cause and severity of the condition.
            <br><br>
            Typical treatment options may include some of the following:
        </p>

        <h2>Medications and supplements</h2>

        <p>
            If an underlying disease is causing genu valgum, a doctor will need to treat the disease first to correct the leg alignment.
            They may use medications and supplements as part of a treatment plan.
        </p>

        <h2>Regular Exercise</h2>
        <p>
            Several studies indicateTrusted Source that exercise may help strengthen the muscles of the legs and could improve posture and balance in people with knock-knee.
            Research also shows that this may applyTrusted Source to young adults with knock-knee, but there is not enough research to indicate that exercise corrects the condition in children.
            <br>
            A person should always consult with a doctor before beginning any exercise routine.
            A doctor or physical therapist will be able to say whether exercises may be helpful and what types of exercises to do based on a person’s gait and specific symptoms.
            <br>
            Examples of resistance and strength exercises that a person can do include:
        </p>

        <div class="c1">
            <h2>Side Lungs</h2>
            <ol style="list-style-type:number">
                <li>Stand with the feet hip-width apart and place the arms in front of the chest.</li>
                <li>Step widely sideways to the left.</li>
                <li>Bend the knee as the foot touches the ground and push the hip backward.</li>
                <li>Stand up and return to a neutral position.</li>
                <li>Repeat 10–12 times and then switch legs.</li>
            </ol>
            <img src="{%static 'GValgumSideLunge.gif'%}" class="gif" alt="GValgumSideLunge">

            <br><br>

            <h2>Lying Abduction</h2>
            <ol style="list-style-type:number">
                <li>Lie on the left side with the legs one on top of the other.</li>
                <li>Lift the right leg at a 45-degree angle and hold for 1 second. Then lower the leg.</li>
                <li>Repeat 10–12 times, and do the same with the other leg.</li>
            </ol>
            <img src="{%static 'Gvalgum_Ankle_Hip_Abduction.gif'%}" class="gif" alt="Gvalgum_Ankle_Hip_Abduction">
            <br><br>

            <h2>Wall Squat</h2>
            <ol style="list-style-type:number">
                <li>Stand straight against a wall while keeping the body slightly away from the wall and the feet shoulder-width apart.</li>
                <li>Squat to no more than 90 degrees and hold for 5–10 seconds while keeping the abdominal muscles contracted.</li>
                <li>With more practice, a person may begin to hold the position for longer.</li>
                <li>Adding a resistance band around the knees while doing this exercise may also help.</li>
            </ol>
            <div id="gif">
            <img src="{%static 'WallSquat1.gif'%}" class="gif" alt="WallSquat1">
            </div>

        </div>

        <h2>Weight Loss</h2>
        <p>
            If a person is carrying excessive body weight, it can contribute to genu valgum.
            Extra weight puts additional strain on the legs and knees, which can causeTrusted Source knock-knee to worsen.
            A doctor will likely recommend that a person who is overweight lose weight through a combination of diet and exercise.

        </p>

        <h2>Orthotics</h2>
        <p>
            Orthotics are inserts placed in the shoes to help correct a person’s gait or the way their foot strikes the ground when they walk or run.
            This may beTrusted Source especially helpful for people with genu valgum who have one leg that is longer than the other.
            Doctors may recommend braces or splints for some children in addition to or instead of orthotics.
            The braces are designed to help the bones grow in the correct position.
        </p>

        <h2>Surgery</h2>
        <p>
            Surgery is not typically the first treatment choice for a person with genu valgum.
            Surgery is usually reserved for severe knock-knee and cases where exercise, stretching, and weight loss do not relieve pain.
            <br>
            For children, doctors use a procedure called guided growth surgery. A surgeon inserts a small piece of metal into the knee. This metal plate helps the bone grow in the correct direction.
            Once the bone is aligned correctly, further surgery is done to remove the metal plate.
            <br>
            Adults and older teens may also have an osteotomy.Similar to guided growth surgery, osteotomy involvesTrusted Source a surgeon inserting a small metal plate into the knee.
            The plate is used as a permanent brace to keep the knee correctly aligned.
            <br>
            In rare cases, a doctor may recommend a knee replacement.In this case, a correctly aligned artificial knee will resolve the genu valgum.
            <br>
            Depending on the type of procedure, whether or not the patient has medical insurance, and the type of insurance, the cost of any surgical procedure can vary significantly.
            It can also depend on the severity of the patient’s symptoms.
        </p>

     </div>

    {% comment %} <div class="video">
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/85gA9a4AHh4">
        </iframe>
        <br><br><br>
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/TRCx7_waDsA">
        </iframe>
        <br><br><br>
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/T9I62pLgwXQ">
        </iframe>
    </div> {% endcomment %}
     
    {% comment %} <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <iframe height="315" src="https://www.youtube.com/embed/85gA9a4AHh4">
                </iframe>
                
                <div class="card-body">
                    <h5 class="card-title text-dark">Home Excercise</h5>   
                </div> 
                    
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <iframe height="315" src="https://www.youtube.com/embed/TRCx7_waDsA">
                </iframe>
                
                <div class="card-body">
                    <h5 class="card-title text-dark">Home Excercise</h5>   
                </div> 
                    
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success">
                <iframe height="315" src="https://www.youtube.com/embed/T9I62pLgwXQ">
                </iframe>
                
                <div class="card-body">
                    <h5 class="card-title text-dark">Home Excercise</h5>   
                </div> 
                    
            </div>
        </div>
    </div> {% endcomment %}

    <div class="album py-5 bg-light">
        <div class="container my-3">
            <h1 class="my-4 text-center">Videos you can refer to do excercise</h1>
        
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                <div class="card text-white bg-primary shadow-sm">
                    <iframe height="315" src="https://www.youtube.com/embed/85gA9a4AHh4">
                    </iframe>
                    
                    <div class="card-body">
                        <h5 class="card-title">Home Excercise for Genu Valgum</h5>   
                    </div> 
                </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-primary shadow-sm">
                        <iframe height="315" src="https://www.youtube.com/embed/TRCx7_waDsA">
                        </iframe>
                        
                        <div class="card-body">
                            <h5 class="card-title">Home Excercise for Genu Valgum</h5>   
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card text-white bg-primary shadow-sm">
                        <iframe height="315" src="https://www.youtube.com/embed/T9I62pLgwXQ">
                        </iframe>
                        
                        <div class="card-body">
                            <h5 class="card-title">Home Excercise for Genu Valgum</h5>   
                        </div> 
                    </div>
                </div>


            </div>
        </div>
    </div>
 </div>

{% endblock body %}
