{% extends 'base.html' %}

{% block title %}Genu Varum {% endblock title %}

{% block body %}

<div class="varumtreat">
    <div class="varumtreatcont1">
        <h1> Genu Varum</h1>
        <p>
            Bow legs develop for a number of different reasons. The most common cause of bow legs is a condition called physiologic genu varum.
            When your baby was developing in the uterus (womb), they were in a cramped position.
            Some of your baby’s bones had to rotate while they were was in your uterus so they could fit in the small space.
            <br><br>

            Physiologic genu varum is just your child going through the normal developmental process.
            If your child’s legs haven’t straightened by 2 years old, there may be another reason. <br>
        </p>

        <h2>Treatment</h2>
        <p>
            Treatment usually isn’t recommended for infants and toddlers unless an underlying condition has been identified.
            Treatment may be recommended if your case of bowlegs is extreme or getting worse, or if an accompanying condition is diagnosed. 
            Treatment options include:
            <div class="c1">
                <ol style="list-style-type:circle">
                    <li>special shoes</li>
                    <li>braces</li>
                    <li>casts</li>
                    <li>surgery to correct bone abnormalities</li>
                    <li>treatment of diseases or conditions that cause bowlegs</li>
                </ol>
            </div>
        </p>
    </div>
</div>

{% endblock body %}
