{% extends 'base.html' %}

{% block title %}Detection {% endblock title %}
{%load static %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<br><br>

<div class="container my-3 userP1">
<br>
    {% if user.is_authenticated %}
        <div class="container">    
            <div class="mb-3">
                <label for="email" class="form-label"><h3><b>Username:</b></h3></label>
                <label for="email" class="form-label"><h3><b>{{user.username}}</b></h3></label>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label"><h3><b>Email address:</b></h3></label>
                <label for="email" class="form-label"><h3><b>{{user.email}}</b></h3></label>
            </div>
            
          {% endif%}
</div>

<h2> Image Detection Data </h2> 
<div class="container my-3">  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">LeftLeg Angle</th>
          <th scope="col">RightLeg Angle</th>
          <th scope="col">Date</th>
          
        </tr>
      </thead>
      <tbody>
        {% for i in UserProfile1  %}
            
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{{i.name}}</td>
                      <td>{{i.ImgLeftAngle}}</td>
                      <td>{{i.ImgRightAngle}}</td>
                      <td>{{i.date}}</td>
                      
                    </tr>
            
         {% endfor %}
      </tbody>
    </table>

    <center>
      <div>
        <a class="btn btn-primary" href="/chartProfile1">Get Chart</a>
      </div>
  </center>
    
</div>

<footer> 
  <div class="footer fixed-bottom">
    <center>
      <label for="phone no" class="form-label"><h4>Contact us on: <u>9324170787</u> , <u>9324599096</u>  &nbsp;&nbsp;  | </h4></label>  &nbsp;&nbsp; 
      <label for="emailid" class="form-label"> <h4>Email ID: <u> legdetect1229@gmail.com</u></h4> </label>
    </center>
  </div>
</footer>
{% endblock%}