{% extends 'base.html' %}

{% block title %} Your Profile {% endblock title %}
{%load static%}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<div class="container">

    {% if user.is_authenticated %}
        <div class="container">    
            <div class="mb-3">
                <label for="email" class="form-label"><b>Username:</b></label>
                <label for="email" class="form-label">{{user.username}}</label>
            </div>
            
            <div class="mb-3">
                <label for="email" class="form-label"><b>Email address:</b></label>
                <label for="email" class="form-label">{{user.email}}</label>
            </div>


            {% endif %}
           {% comment %} <div class="mb-3">
               <label class="form-label"><b>Result:</b></label>
                    {% for i in UserProfile %}
                        <label for="res" class="form-label">{{i.ImgLeftAngle}}</label>
                    {% endfor %}
            </div>  {% endcomment %}

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">LeftLeg Angle</th>
                    <th scope="col">RightLeg Angle</th>
                    <th scope="col">time</th>
                  </tr>
                </thead>
                <tbody>
                  {% for Reports in UserProfile %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{Reports.name}}</td>
                    <td>{{Reports.ImgLeftAngle}}</td>
                    <td>{{Reports.ImgRightAngle}}</td>
                    <td>{{Reports.date}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            
        </div>
            <!-- {% for Report in Reports %}
                <label class="form-label">Hello:{{user.email}}</label>
            {% endfor %} -->

           

</div>
 

{% endblock body %}

